*.class

# Package Files #
*.jar
*.war
*.ear
/WebApplication1/nbproject/private/
/WebApplication1/build/
/FriendSpaceWeb/nbproject/private/
/FriendSpaceTest/target/
/FriendSpaceWeb/build/
/FriendSpaceWeb/dist/
/ssase13/nbproject/private/
/ssase13/build/
/ssase13/dist/
/Entities/build/
/Entities/dist/private.properties
/Entities/dist/
/report/*.aux

/report/*.gz

/report/*.log
