<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.datasource">java:comp/env/jdbc/postgres</property>
    <property name="hibernate.id.new_generator_mappings">true</property>
    <mapping class="dk.itu.ssase.hb.beans.model.Student" resource="student.hbm.xml"/>
    <mapping class="dk.itu.ssase.hb.beans.model.Relationship" resource="relationship.hbm.xml"/>
    <mapping class="dk.itu.ssase.hb.beans.model.Hobby" resource="hobby.hbm.xml"/>
    <mapping class="dk.itu.ssase.hb.beans.model.Interest" resource="interest.hbm.xml"/>
    <mapping class="dk.itu.ssase.hb.beans.model.Hug" resource="hug.hbm.xml"/>
    <mapping class="dk.itu.ssase.hb.beans.model.AlienUser" resource="AlienUser.hbm.xml"/>
    <mapping class="dk.itu.ssase.hb.beans.model.AlienRelationship" resource="AlienRelation.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
